<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK"/>
		<section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AkkaNetAws.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <aws region="ap-southeast-1" profileName="development"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <userSettings>
    <AkkaNetAws.Properties.Settings>
      <setting name="AwsAccessKeyId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AwsSecretAccessKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AkkaPort" serializeAs="String">
        <value>2551</value>
      </setting>
      <setting name="AkkaActorSystem" serializeAs="String">
        <value>AwsAkkaTest</value>
      </setting>
    </AkkaNetAws.Properties.Settings>
  </userSettings>
    <akka>
		<hocon>
			<![CDATA[
akka {
  actor {
    provider = "Akka.Cluster.ClusterActorRefProvider, Akka.Cluster"
  }
  remote {
    log-remote-lifecycle-events = off
    helios.tcp {
      hostname = "127.0.0.1"
      port = 0
    }
  }

  cluster {
    seed-nodes = []

    auto-down-unreachable-after = 10s
  }
}
			]]>
		</hocon>
	</akka>
</configuration>
