<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.2" targetFramework="net452" userInstalled="true" />
  <package id="Akka.Cluster" version="1.0.2.9-beta" targetFramework="net452" userInstalled="true" />
  <package id="Akka.Remote" version="1.0.2" targetFramework="net452" userInstalled="true" />
  <package id="AWSSDK" version="2.3.41" targetFramework="net452" userInstalled="true" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net452" userInstalled="true" />
  <package id="Helios" version="1.4.0" targetFramework="net452" userInstalled="true" />
  <package id="Microsoft.Bcl.Immutable" version="1.0.34" targetFramework="net452" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net452" userInstalled="true" />
  <package id="NLog" version="4.0.0-rc" targetFramework="net46" userInstalled="true" />
  <package id="NLog.Config" version="4.0.0-rc" targetFramework="net46" userInstalled="true" />
  <package id="NLog.Schema" version="4.0.0-rc" targetFramework="net46" userInstalled="true" />
</packages>